.hardware_container {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1280px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 150px;
}

.hardware_container .article_top {
  padding-top: 50px;
  margin-bottom: 50px;
}

.hardware_container .article_top > div {
  margin-top: 20px;
  font-size: 19px;
  color: #999999;
  text-align: center;
  word-break: keep-all;
}

.hardware_container .article_top > div:first-child {
  font-weight: 500;
  margin-top: 100px;
  text-align: center;
  font-size: 30px;
}
.hardware_container .article_top > div:first-child > span {
  padding-bottom: 5px;
  border-bottom: 2px solid #bdbdbd;
  color: #000000;
  font-weight: bold;
  line-height: 50px;
}

.hardware_container .article_top .highlight {
  color: #6bbf24;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 30px 0 10px;
  text-align: center;
}

.hardware_container .article_mid {
  font-size: 19px;
  text-align: center;
  line-height: 165%;
  color: #000000;
}

.hardware_container .paragraph {
  font-size: 18px;
  margin-bottom: 100px;
  text-align: left;
}

.hardware_container .article_mid > img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  margin-bottom: 50px;
}

.hardware_container .article_mid > div {
  padding-top: 50px;
}

.hardware_container .article_mid2 {
  display: flex;
  margin: 100px 0px;
  flex-wrap: wrap;
  justify-content: center;
}
.hardware_container .article_mid2 > img:first-child {
  margin-bottom: 50px;
}

.hardware_container .paper {
  margin: 1%;
  margin-bottom: 30px;
  width: 31%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.paper_wide > .paper {
  margin: 1%;
  width: 98%;
  min-width: 250px;
}

.paper_wide > .paper * {
  width: 100%;
}

.paper_wide > .paper:last-child {
  margin-top: 50px;
}

.paper_wide > .paper:last-child * {
  text-align: center;
  font-size: 23px;
}

.paper_wide > .paper:last-child *:last-child {
  text-align: center;
  font-size: 19px;
}

.paper_wide_left > .paper * {
  text-align: left !important;
  height: none;
}

.paper_slim > .paper {
  margin: 1%;
  margin-bottom: 3%;
  width: 23%;
}

.paper > div:last-child,
.paper_slim > .paper > div:last-child,
.paper_wide_left > .paper > div:last-child {
  height: auto !important;
}

.hardware_container .paper > div,
.hardware_container .paper #noImg > div {
  text-align: left;
  padding: 25px 30px 0px;
  font-size: 21px;
  font-weight: bold;
  float: left;
  height: 85px;
}

.card_title_wide {
  height: 115px !important;
  text-align: center !important;
}

.hardware_container .paper > div:last-child {
  font-weight: normal;
  font-size: 17px;
  word-break: keep-all;
  width: 100%;
}

.paper_wide2 {
  width: 98% !important;
  height: 800px !important;
}

.paper_wide3 {
  width: 98% !important;
  height: 550px !important;
}

.img_50 {
  width: 50%;
  float: left;
  height: 600px;
}

.img_50_2 {
  width: 50%;
  float: left;
  left: 0 !important;
  transform: translateX(0) !important;
}

.img_33 {
  width: 31%;
  margin: 1%;
  float: left;
  left: 0 !important;
  transform: translateX(0) !important;
}

.pdf_wrap {
  margin-top: 30px;
  width: 100%;
  text-align: right;
}

.PDF_link {
  color: #a4a4a4 !important;
}

.black {
  color: #000000;
}
@media (max-width: 1280px) {
  .hardware_container .article_mid {
    font-size: 17px;
  }
}
@media (max-width: 640px) {
#none_img{ display:none !important}
}

@media (max-width: 960px) {
  .hardware_container {
    width: 100%;
  }
  .hardware_container .article_top > div:first-child {
    margin-top: 0px;
    font-size: 18px;
  }
  .hardware_container .article_top .highlight {
    font-size: 17px;
    margin: 30px 0 10px;
    text-align: center;
  }
  .hardware_container .article_top > div {
    font-size: 15px;
  }
  .hardware_container .paragraph {
    font-size: 15px;
    margin-bottom: 50px;
  }
  .hardware_container .article_mid > div {
    padding-top: 0px;
  }
  .hardware_container .article_mid2 {
    margin: 0px;
  }
  .card_title_wide {
    height: auto !important;
  }
  .hardware_container .paper > div {
    font-size: 21px;
    word-break: keep-all;
    height: auto !important;
  }
  .paper_slim {
    margin: 50px 0 !important;
  }
  .paper_slim .paper {
    margin-bottom: 25px;
  }
  .hardware_container .paper > div {
    padding: 25px 0px;
  }
  .hardware_container .paper > *:first-child + div {
    padding-bottom: 0px;
  }
  .left_mobile {
    text-align: left !important;
  }
  .hardware_container .article_mid > img {
    margin-top: 0px;
  }
  .paper_wide_left * *:first-child {
    font-size: 17px !important;
    padding-bottom: 0px !important;
  }
  .paper_wide_left * *:first-child + * {
    font-size: 15px !important;
  }
  .paper_wide > .paper:last-child * {
    font-size: 21px;
  }
  .paper_wide > .paper:last-child *:last-child {
    font-size: 17px;
    margin-bottom: 0px;
    text-align: left;
  }
}
