.service_article_container{
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 150px;
}
iframe{
    width: 101%;
    height: 1000px;
    border: 0    
}


