/*@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);*/
@font-face {font-family: 'noto_sans';src: url('./css/Noto_Sans_KR/NotoSansKR-Medium.otf');}
#admin_container *{
    font-family: 'noto_sans',serif !important;
    
}
#manager *{
  font-size: 16px !important;
}
#customer{
max-height: 600px;
}
img{-ms-interpolation-mode:bicubic;}
@media (max-width: 450px ) {
  #manager *, #customer *{
    font-size: 10px !important;
  }
  #chk_box{width:100px}
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  display: inline !important;
}